[project]
	description = gerrit test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pawan Saxena (pawans-optimus)
[access "refs/for/refs/*"]
	read = group user/Pawan Saxena (pawans-optimus)
	push = group user/Pawan Saxena (pawans-optimus)
	label-Code-Review = -2..+2 group user/Pawan Saxena (pawans-optimus)
	label-Verified = -1..+1 group user/Pawan Saxena (pawans-optimus)
	rebase = group user/Pawan Saxena (pawans-optimus)
	removeReviewer = group user/Pawan Saxena (pawans-optimus)
	submit = group user/Pawan Saxena (pawans-optimus)
[access "refs/heads/*"]
	read = group user/Pawan Saxena (pawans-optimus)
	create = group user/Pawan Saxena (pawans-optimus)
	push = +force group user/Pawan Saxena (pawans-optimus)
	pushMerge = group user/Pawan Saxena (pawans-optimus)
[access "refs/tags/*"]
	push = +force group user/Pawan Saxena (pawans-optimus)
	pushTag = group user/Pawan Saxena (pawans-optimus)
	pushSignedTag = group user/Pawan Saxena (pawans-optimus)
